/* shareable style */
.btn {
    background-color: rgb(159, 238, 106);
    border: none;
    border-radius: 5px;
}

#nav {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
    /* border: 5px solid rebeccapurple; */
    
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
}